.container {
    padding: 20px;
    text-align: center;
  
    .contact-info {
      ul {
        list-style: none;
        padding: 0;
        display: flex;
        justify-content: center;
        color:   #c5a7e0;
        gap: 10vw;
  
        li {
          display: flex;
          align-items: center;
  
          figure {
            display: flex;
            flex-direction: column;
            align-items: center;
            
  
            img {
              width: 70px;
              margin-bottom: 10px;
            }
  
            figcaption {
              font-size: 20px;
              
              a {
                color:   #c5a7e0;
                text-decoration: none;
              
  
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 800px) {
    .container .contact-info ul li figure img {
      width: 40px;
      margin-bottom: 5px;
    }
    .container .contact-info ul li figure figcaption {
      font-size: 10px;
    }
  }
  
  
  